# ADP_27회 통계 part

### 5번
2년 전 제품 생산량이 100,000개, 1년 전 제품 생산량이 150,000개, 그 후 팩토리 기술의 상승으로 제품 생산량이 250,000개 되었을 때, 연평균 상승률의 대푯값을 구하시오. (반올림하여 소수점 아래 둘째자리까지 표기하시오.)

In [3]:
round((250000/100000)** (1/2),2)-1

0.5800000000000001

### 6번

12건의 광고 시간 측정. 평균 15.5초, 분산 3.2초 일때 90% 신뢰구간은?

In [21]:
x = 15.5
s = 3.2
q = 1-(0.1/2)
temp = stats.t.ppf(q=0.95,df=12)
print(x - temp*s/(12**(1/2)),x + temp*s/(12**(1/2)))

13.85359327995622 17.146406720043778

### 7번

강의 상류와 하류의 생물 다양성 점수에 차이가 있는지 검정하시오. (단, 같은 강에서 상류와 하류는 서로 독립적이지 않으며, 종속적인 관계에 있다.)

7.1 귀무가설과 대립가설을 세우시오

7.2 검정 통계량과 유의 확률을 구하고, 연구가설 채택여부를 검정하시오.

In [24]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/27/river.csv')
df.head()

  River    up  down
0     A  57.1  45.7
1     B  51.6  37.2
2     C  53.9  53.3
3     D  59.0  54.3
4     E  57.5  46.3

In [28]:
print(stats.shapiro(df.up))
print(stats.shapiro(df.down))

ShapiroResult(statistic=0.9635884165763855, pvalue=0.6447697877883911)
ShapiroResult(statistic=0.9821230173110962, pvalue=0.9640804529190063)

In [35]:
stats.ttest_rel(df.down, df.up)
# 검정결과 p-valuer가 0.05보다 크므로 귀무가설을 기각하지 못한다.

Ttest_relResult(statistic=-1.2922226959983891, pvalue=0.21262429174344777)

### 8번

user_counts를 종속변수로 하는 데이터이다

8.1 분위수 회귀분석 (Quantile Regression) 을 사용하여 회귀 계수를 구하시오. (반올림하여 소수점 아래 둘째자리까지 표기하시오.)

8.2 8.1의 모델의 회귀계수를 활용하여 temperature : 10.5 , wind : 8.2 , precipitation : 3.5 일때 user_counts를 예측하시오

In [2]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/27/problem8.csv')
df.head()

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226
3     3.400000  2.675       0.156989         5829
4     8.900000  3.950       7.988462         7589

In [36]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as ols
import matplotlib.pyplot as plt

In [29]:
mod = ols.quantreg('user_counts~ temperature+wind+precipitation',data=df)
res = mod.fit(q=0.5)
print(res.summary())

                         QuantReg Regression Results
==============================================================================
Dep. Variable:            user_counts   Pseudo R-squared:               0.3723
Model:                       QuantReg   Bandwidth:                       840.9
Method:                 Least Squares   Sparsity:                        5590.
Date:                Tue, 21 Feb 2023   No. Observations:                 2097
Time:                        14:04:48   Df Residuals:                     2093
                                        Df Model:                            3
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      5941.8395    198.127     29.990      0.000    5553.293    6330.386
temperature     268.8920      6.571     40.918      0.000     256.005     281.779
wind           -129.4050     46.259     -2.797      0.005    -220.124     -38.686
precipitation   -83.3843      7.891    -10.567      0.000     -98.859     -67.910
=================================================================================

24회

광고횟수와 광고비에 따른 매출액의 데이터이다

1 광고비 변수를 가변수 처리후 다중회귀를 수행하여 회귀계수가 유의한지 검정

2 회귀식이 유의한지 판단

In [30]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/24/problem2.csv',encoding='cp949')
df.head()

   광고횟수 광고비  매출액
0     2  낮음   15
1     3  낮음   16
2     4  낮음   17
3     4  높음   18
4     5  높음   20

In [34]:
# 1. 광고비 변수를 가변수 처리후 다중회귀를 수행하여 회귀계수가 유의한지 검정
df1 = pd.get_dummies(df, columns=['광고비'])
df1

    광고횟수  매출액  광고비_낮음  광고비_높음
0      2   15       1       0
1      3   16       1       0
2      4   17       1       0
3      4   18       0       1
4      5   20       0       1
5      6   22       0       1
6      7   24       1       0
7      9   26       0       1
8     11   28       0       1
9     12   29       1       0
10    13   31       0       1

In [44]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [47]:
lr = smf.ols('매출액 ~ 광고횟수+광고비_낮음+광고비_높음',data=df1)
result = lr.fit()
result.summary()
# 검정결과 다 유의함

C:\Users\82107\anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=11
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    매출액   R-squared:                       0.982
Model:                            OLS   Adj. R-squared:                  0.978
Method:                 Least Squares   F-statistic:                     221.2
Date:                Tue, 21 Feb 2023   Prob (F-statistic):           9.96e-08
Time:                        14:25:26   Log-Likelihood:                -11.883
No. Observations:                  11   AIC:                             29.77
Df Residuals:                       8   BIC:                             30.96
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.2836      0.374     22.175      0.000       7.422       9.145
광고횟수           1.4350      0.074     19.518      0.000       1.265       1.605
광고비_낮음         3.8805      0.285     13.621      0.000       3.223       4.537
광고비_높음         4.4032      0.364     12.109      0.000       3.565       5.242
==============================================================================
Omnibus:                        7.665   Durbin-Watson:                   0.919
Prob(Omnibus):                  0.022   Jarque-Bera (JB):                3.407
Skew:                           1.265   Prob(JB):                        0.182
Kurtosis:                       4.015   Cond. No.                     9.91e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.96e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

24회

각 공장별로 12개의 제품을 추출하여 구한 정보가 A생산라인의 제품 평균은 5.7mm이고 표준편차는 0.03, B생산라인의 제품 평균은 5.6mm이고 표준편차는 0.04라면 5%유의수준으로 두 제품의 평균이 차이가 있는지 여부를 검정하기 Z(0.05) = 1.65

1 귀무가설과 대립가설을 세워라

2 두 평균이 차이가 있는지 검정하라

In [48]:
# 1. 귀무가설과 대립가설을 세워라
# 귀무가설: A생산라인과 B생산라인 제품 평균에는 차이가 없다.
# 연구가설: A생산라인과 B생산라인 제품 평균에는 차이가 있다.

In [49]:
A_mu = 5.7
A_sigma = 0.03
B_mu = 5.6
B_sigma = 0.04

In [51]:
z = (A_mu-B_mu)/ ((A_sigma**2/12+B_sigma**2/12)**(1/2))
z

6.928203230275546

In [53]:
from scipy import stats

In [61]:
p_value= (1-stats.norm.cdf(z))
p_value

2.131073095767988e-12

24회

바이러스 감염 분류표를 보고 베이지안 분류 방법을 사용해 양성으로 예측된 사람이 실제로 양성일 확률을 구하라

In [62]:
data = pd.DataFrame({'양성(실제)':[370,10],'음성(실제)':[10,690]},index = ['양성(예측)','음성(예측)'])
data

        양성(실제)  음성(실제)
양성(예측)     370      10
음성(예측)      10     690

주어진 데이터에서 신뢰구간을 구하려한다
정규분포에서 표폰을 추출함[Z(0.05) = -1.65 , Z(0.025) = -1.96, T(0.05, 8) = 1.860 , T0.025(0.025, 8) = 2.306]
데이터(9개) : [3.1, 3.3, 3.5, 3.7, 3.9, 4.1, 4.3 4.4, 4.7]

1 모분산을 모르는 경우 주어진 데이터의 95% 신뢰구간을 구하라

2 sigma = 0.04인걸 알고 있을때의 95% 신뢰구간을 구하라

In [64]:
import numpy as np
data = [3.1,3.3,3.5,3.7,3.9,4.1,4.3,4.4,4.7]
std = np.std(data)
mu = np.mean(data)
print(std,mu)

0.5043024763515652 3.888888888888889

In [70]:
t = stats.t.ppf(1-0.025,len(data)-1)
t

2.3060041350333704

In [71]:
# 1번
print(mu-t*std/(len(df)**(1/2)),mu+t*std/(len(df)**(1/2)))

3.538254231885779 4.239523545891999

In [75]:
# 2번
z = stats.norm.ppf(1-0.025)
print(mu-1.96*0.04/(len(df)**(1/2)),mu+1.96*0.04/(len(df)**(1/2)))

3.865250399473992 3.9125273783037855

25회

서울에서 영동까지 100km/h로 가고 영동에서 서울까지 80km/로 돌아왔을 때, 평균 속도는?

In [76]:
2*100*80/(100+80)

88.88888888888889

25회

연매출이 3000, 4000, 5000이었다면 연평균 몇배가 증가한 것인가?